<form class="d-flex me-3 mt-3" role="search" action="/cocktailsList" method="GET">
    <input class="form-control me-2 bg-dark text-white border-secondary" type="search" name="research" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form> 