<link rel="stylesheet" href="/style.css">
<header class="header">
    <div class="header-container">
        <nav class="nav">
            <a class="header-logo" href="/">CocktailNite</a>
            <button class="nav-toggle" type="button" aria-label="Toggle navigation">
                <span class="nav-toggle-icon"></span>
            </button>

            <div class="nav-collapse" id="navbarNavDropdown">
                <ul class="nav-list">
                    <li><a class="nav-link" href="/">Accueil</a></li>
                    <li><a class="nav-link" href="/contact">Contact</a></li>
                    <li><a class="nav-link" href="/cocktailsList">Cocktails</a></li>
                    <% if (user &&( user.role == "admin" || user.role == "owner")){%>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button">
                            Admin
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/users">Users</a></li>
                            <li><a class="dropdown-item" href="/admin/cocktails">Cocktails</a></li>
                        </ul>
                    </div>
                    <% } %>
                </ul>
            </div>
        </nav>

        <form class="search-form" role="search" action="/cocktailsList" method="GET">
            <input class="search-input" type="search" name="research" placeholder="Search" aria-label="Search">
            <button class="btn btn-search" type="submit">Search</button>
        </form>

        <div class="user-section">
            <% if (user && user.username) { %>
                <span class="user-greeting">Bienvenue, <%= user.username %></span>
                <a href="/auth/logout" class="btn btn-logout">Déconnexion</a>
            <% } else { %>
                <a href="/register" class="btn btn-primary">Inscription</a>
                <a href="/login" class="btn btn-primary">Connexion</a>
            <% } %>
        </div>

        <a href="/" class="cart-icon" aria-label="Cart">
            <svg focusable="false" width="20" height="19" class="icon icon--header-tote-bag" viewBox="0 0 20 19">
                <path d="M3 7H17L18 18H2L3 7Z" fill="none" stroke="currentColor" stroke-width="1"></path>
                <path d="M13 4V4C13 2.34315 11.6569 1 10 1V1C8.34315 1 7 2.34315 7 4V4" fill="none" stroke="currentColor" stroke-width="1"></path>
            </svg>
        </a>
    </div>

    <!-- Section pour afficher l'alerte -->
    <div id="session-message" class="alert alert-info" role="alert" style="display: none;">
        <span id="session-message-text"></span>
        <button type="button" class="alert-close" aria-label="Close"></button>
    </div>
</header>

<style>
    body {
        padding-top: 3.5%;
    }
    
    #session-message {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1050;
    }
</style>

<script>
    const tempMessage = <%- JSON.stringify(tempMessage) %>;
</script>

<script>
    window.onload = function () {
        if (tempMessage) {
            const messageBox = document.getElementById('session-message');
            const messageText = document.getElementById('session-message-text');
            messageText.textContent = tempMessage;
            messageBox.style.display = 'block';

            setTimeout(() => {
                messageBox.classList.remove('show');
                setTimeout(() => {
                    messageBox.style.display = 'none';
                }, 500);
            }, 5000);
        }
    };
</script>
