<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('partials/bootstrap') %>
    <%- include('partials/header') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="/style.css">

    <title>Main</title>
    
</head>
<body>
    
    <% if (IsAdmin == "yes"){%>
        <h1>Bienvenue Maitre, VOUS REGNEREZ TOUJOURS SUR CES LIEUX</h1>
    <%}%>
    <h1>Interface de Saisie</h1>
    <label for="text-input">Entrez votre texte :</label>
    <input type="text" id="text-input" placeholder="Texte ici..." required>
    
    <label for="text-area">Commentaires :</label>
    <textarea id="text-area" rows="4" placeholder="Écrivez vos commentaires ici..."></textarea>
    
    <button type="submit">Soumettre</button>
</body>
</html>