<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <title>Connexion</title>
    <%- include('partials/header') %>
</head>
<body>
    <!-- From Uiverse.io by Cksunandh --> 
<div class="login-container">
  <form action="/auth/loginTraitment" method="post" class="login-form">
    <p class="heading">Connexion</p>
    <p class="paragraph">Connectez vous à votre compte</p>
    <div class="input-group">
      <input
        required
        placeholder="Adresse mail"
        id="email"
        type="email"
        name ="email"
      />
    </div>
    <div class="input-group">
      <input
        required
        placeholder="Mot de passe"
        name="password"
        id="password"
        type="password"
      />
    </div>
    <button type="submit">Se connecter</button>
    <div class="bottom-text">
      <p>Vous n'avez pas de compte ? <a href="/register">Inscription</a></p>
    </div>
  </form>
</div>


</body>
</html>
