<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <%- include('partials/header') %>
</head>
<body>

    <div class="register-container">
  <form id="registerForm" action="/auth/registerTraitment" method="post" class="login-form">
    <p class="heading">Inscription</p>
    <p class="paragraph">Créez votre compte</p>
    <div class="input-group">
      <input
        required
        name="username"
        id="username"
        placeholder="Nom d'utilisateur"
        id="username name="
        type="text"
      />
    </div>
    <div class="input-group">
      <input
        required
        placeholder="Adresse mail"
        id="email"
        name="email"
        type="email"
      />
    </div>
    <div class="input-group">
      <input
        required
        name="password"
        placeholder="Mot de passe"
        id="password"
        type="password"
      />
    </div>
    <div class="input-group">
      <input
        required
        placeholder="Confirmer le mot de passe"
        name="confirmPassword"
        id="confirmPassword"
        type="password"
      />
    </div>
    <button type="submit">S'inscrire</button>
    <div class="bottom-text">
      <p>Vous avez déja un compte ? <a href="/login">Se Connecter</a></p>
    </div>
  </form>
</div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', function(event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                event.preventDefault();
                alert('Les mots de passe ne correspondent pas');
            }
        });
    </script>
</body>
</html>
